@{
    ViewData["Title"] = "Home - ";
}
<style>
    main {
        font-size: 1.5rem;
    }
</style>
<main>
    <div class="text-center">
        <h1 class="display-4">Welcome to SneakerBox!</h1>
        <br />
    </div>

    <div class="text-center">
        <p>
            At SneakerBox, we offer the latest sneakers at the best price delivered at your doorstep!
            <br />
            From sportswear to high-end, from Nike to Alexander McQueen, grab your favorite
            pair before it solds out!
        </p>
    </div>
    <br />
    <div class="text-center bg-transparent">
        <img src="~/img/shoes.jpg" class="img-fluid" width="400px" />
        <br />

    </div>
</main>