@{
    ViewData["Title"] = "Home - ";
}
<style>
    main {
        font-size: 1.5rem;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome to SneakerBox!</h1>
</div>
<br /> img
<br />
<main>
    <div>
        <p><center>
        At SneakerBox, we offer the latest sneakers at the best price!
        <br />
        From sportswear to high-end, from Nike to Alexander McQueen, grab your favorite
        pair of sneakers before it solds out!
        </center></p>
    </div>

    <div>
        
    </div>
</main>